<h1>New Article</h1>
<form {{action "create" on="submit"}}>
  <div class="form-group">
    <label for="title">Title of the article</label>
    {{input value = model.article.title type = "text" class = "form-control" name = "title" required = true}}
  </div>
  <div class="form-group">
    <label for="author">Author or the article</label>
    {{#x-select action="selectAuthor" on="change" class = "form-control" as |xs|}}
      {{#xs.option}}Select author{{/xs.option}}
      {{#xs.option}}Vincent & Fangyan{{/xs.option}}
      {{#xs.option}}Fangyan{{/xs.option}}
      {{#xs.option}}Vincent{{/xs.option}}
    {{/x-select}}
  </div>
  <div class="form-group">
    <label for="text">Content of the article</label>
    {{input value = model.article.text type = "text" class = "form-control" name = "content" required = true}}
  </div>
<!--  <button type="submit" class="btn btn-primary btn-block">Create</button>
  <button {{action 'cancel'}} class="btn btn-primary btn-block">Cancel</button>
-->
</form>
