<div class="row">
  <div class="article">
    <h2>Title of the article 1</h2>
    <h5>Tuesday, 2nd November</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac justo neque. Nulla eu euismod nisl. Maecenas vestibulum a arcu ac pharetra. Proin sollicitudin augue quis laoreet semper. Pellentesque in lacus non eros condimentum feugiat. Integer sodales consequat justo, eu sodales orci lacinia nec. Quisque ipsum dolor, viverra eget viverra at, cursus vitae est. Etiam accumsan augue vitae tortor sagittis, at volutpat eros ultrices. Donec pretium massa ut finibus ultrices. Vestibulum mattis arcu sed urna mattis, et auctor elit finibus. Nunc malesuada, diam at ultricies fermentum, justo eros aliquet leo, eget accumsan risus lorem non lacus. Morbi dictum, ipsum id rhoncus porta, elit ante sodales ex, eu tempus nunc diam quis tellus. Curabitur est nunc, malesuada eu eros non, dignissim malesuada est. Donec sollicitudin eget risus quis fringilla. Proin sit amet velit elementum, porta leo sit amet, sodales velit. Quisque aliquet efficitur tortor id lobortis.</p>
  </div>
  <div class="article">
    <h2>Title of the article 2</h2>
    <h5>Friday, 20th July</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac justo neque. Nulla eu euismod nisl. Maecenas vestibulum a arcu ac pharetra. Proin sollicitudin augue quis laoreet semper. Pellentesque in lacus non eros condimentum feugiat. Integer sodales consequat justo, eu sodales orci lacinia nec. Quisque ipsum dolor, viverra eget viverra at, cursus vitae est. Etiam accumsan augue vitae tortor sagittis, at volutpat eros ultrices. Donec pretium massa ut finibus ultrices. Vestibulum mattis arcu sed urna mattis, et auctor elit finibus. Nunc malesuada, diam at ultricies fermentum, justo eros aliquet leo, eget accumsan risus lorem non lacus. Morbi dictum, ipsum id rhoncus porta, elit ante sodales ex, eu tempus nunc diam quis tellus. Curabitur est nunc, malesuada eu eros non, dignissim malesuada est. Donec sollicitudin eget risus quis fringilla. Proin sit amet velit elementum, porta leo sit amet, sodales velit. Quisque aliquet efficitur tortor id lobortis.</p>
  </div>
  <div class="article">
    <h2>Title of the article 3</h2>
    <h5>Monday, 1st January</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac justo neque. Nulla eu euismod nisl. Maecenas vestibulum a arcu ac pharetra. Proin sollicitudin augue quis laoreet semper. Pellentesque in lacus non eros condimentum feugiat. Integer sodales consequat justo, eu sodales orci lacinia nec. Quisque ipsum dolor, viverra eget viverra at, cursus vitae est. Etiam accumsan augue vitae tortor sagittis, at volutpat eros ultrices. Donec pretium massa ut finibus ultrices. Vestibulum mattis arcu sed urna mattis, et auctor elit finibus. Nunc malesuada, diam at ultricies fermentum, justo eros aliquet leo, eget accumsan risus lorem non lacus. Morbi dictum, ipsum id rhoncus porta, elit ante sodales ex, eu tempus nunc diam quis tellus. Curabitur est nunc, malesuada eu eros non, dignissim malesuada est. Donec sollicitudin eget risus quis fringilla. Proin sit amet velit elementum, porta leo sit amet, sodales velit. Quisque aliquet efficitur tortor id lobortis.</p>
  </div>
</div>
