<div class="container-fluid">
  <div class="row">
    <div class="col-md-9" role="main">
      <img src="assets/images/otter1.jpg" alt="">
      <div class="description">
        <span>
          Description
        </span>
      </div>
    </div>
    <div class="col-md-3" role="complementary">
      <div class="articles list-group">
        <a href="#" class="list-group-item">First article</a>
        <a href="#" class="list-group-item">Second article</a>
        <a href="#" class="list-group-item">Third article</a>
        <a href="#" class="list-group-item">Fourth article</a>
        <a href="#" class="list-group-item">Fifth article</a>
      </div>
    </div>
  </div>
</div>
